{% extends 'base.html' %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<h1>Užsakymas Nr. {{ order.pk }}</h1>
<ul>
    <li><strong>Data: </strong>{{ order.date }}</li>
    <li><strong>Grąžinimas: </strong><span class="{% if order.is_overdue %}text-danger{% endif %}">{{ order.deadline }}</span></li>
    <li><strong>Būsena: </strong>{{ order.get_status_display }}</li>
    <li><strong>Klientas: </strong>
        <img class="rounded-circle account-img" style="width: 25px" src="{{ order.client.photo.url }}">
        {{ order.client.username }}
    </li>
</ul>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
{% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_sum }}</td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="3"><b>Bendra suma</b></td>
        <td>{{ order.total }}</td>
    </tr>
    </tbody>
</table>
<h4>Komentarai:</h4>
{% if user.is_authenticated %}
<h2>Palikite atsiliepimą</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for review in order.reviews.all %}
<hr>
<small>
    <img class="rounded-circle account-img" style="width: 25px" src="{{ review.author.photo.url }}">
    {{ review.author }}, {{ review.date_created }}
</small>
<p>{{ review.content }}</p>
{% endfor %}
{% endblock %}